


/* Make the body font

Default text is Verdana font with Times New Roman as a fallback option**
The background color is black (use hexadecimal values)
The foreground is white (use hexadecimal values)
There is a 25px margin on the top and sides.  None on the bottom.

margin:1%;
	padding:1%;
	font-size:150%;

*/
body{
	
    font-family: 'Verdana', 'Times New Roman', serif;
    background-color: black;
    color: #FFFFFF;
    margin-top: 25px;
    margin-left: 25px;
    margin-right: 25px;
}

/*
The level 1 heading is 48px, centered, and has padding of 15px

*/
h1 {
    font-size: 48px;
    text-align: center;
    padding:15px;
}


h2 {
    font-size: 32px;
    text-align: center;
    text-shadow: grey 2px 4px;
    padding:15px;
}

p{
    font-size: 24px;
    padding: 0px 0px 15px 15px;
}
/*
All images are 350px wide  (do not set a height)
All images are centered 
All images should have a white 10px dashed border
*/
img{
    width: 350px;   
    border:white dashed 10px;

    display: block;
    margin-left: auto;
    margin-right: auto;
    box-align: center;

}

/*
be at least 100px tall (but will automatically be taller if needed)
 have 20px padding on all sides
have a 3px solid white border on all sides.
*/

div {
    min-height: 100px;
    padding: 20px;
    border:white solid 3px;
}

.intro{
    border-radius: 15px;

    margin-top: 15px;
}

.red{
    background-color: #ff0000;
    text-align: right;
    margin-left: 50px;
    border: 0 0 3px 10px;
}

.blue{
    background-color: #0000ff;
    text-align: left;
    margin-right: 50px;
    border: 0 10px 3px 0;
}

.yellow{
    background-color: #ffff00;
    text-align: right;
    margin-left: 50px;
    border: 0 0 3px 10px;
    
}

div.yellow p{
    color: #000000;
}


div.yellow h2 {
    text-shadow: #c7e2c7 2px 4px;
    color: #000000;
}

.green{
    background-color: #00EB00;
    text-align: left;
    margin-right: 50px;
    border: 0 10px 3px 0;
}

span {
    text-decoration: underline;
    text-transform: uppercase;
    text-shadow: none;
}

footer { 
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,255,1) 25%, rgba(0,102,255,1) 70%, rgba(0,0,0,1) 100%); 
}

footer p{
    text-align: center;
    font-size: 20px;

    padding: 10px 10px 10px 0;
}